
$body-text-color: #575962;
$white-color: #ffffff;
$black-color: #191919;
$transparent-bg : transparent;
$default-color : #323232;
$primary-color :#32325d;
$secondary-color : #716aca;
$text_light : #8898aa;
$hover-color : #4d74d6;
 
@import "itmsuite/variables";
@import "itmsuite/outlinefocus";
@import "itmsuite/typography";
@import "itmsuite/opacity";


//Background
@import "itmsuite/background";


//layouts
@import "itmsuite/layouts";
@import "itmsuite/layouts-colors";


//components
@import "itmsuite/components";

//plugins
@import "itmsuite/plugins";

//responsive
@import "itmsuite/responsive";


//Login
@import "itmsuite/login";

//404
@import "itmsuite/pagenotfound";


@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}


/*Custom Scss*/
a {
    text-decoration: none;
	&:hover	{
		 text-decoration: none;
	}
}
.overflow-scroll {
	overflow-x : auto;
}
.overflow-hidden {
    overflow: hidden;
}
.container {
	@media (min-width: 1920px) {
		max-width: 1570px !important;
	}
}
.bg-gradient-primary {
	@include linear-gradient(#4d74d6, #4cb5eb);
}
.light-color {
	color: $text_light;
}
.logo-header .logo {
	.navbar-brand {
		max-width: 150px;
	}
}
.main-header {
    background: #fff;
    box-shadow: none;
	.navbar.navbar-header {
		&::before {
			content: "";
			background: rgba(0,0,0,.25);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
.btn-toggle {
	&.toggle-sidebar {
		i {
			color: darkblue;
		}
	}
	&.toggled {
		i{
			font-size: 27px;
		}
	}
}
.report-row-block {
	background : #f9fafc;
	padding: 10px 10px 10px 35px;
	position: relative;
	margin-bottom: 15px;
	@media (max-width: 1600px) {
		width: max-content;
	}
	.row-style {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		-webkit-clip-path: ellipse(14% 48% at 2% 48%);
		clip-path: ellipse(100% 75% at -5% 50%);
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 15px;
		text-shadow: 0px 3px 4px rgba(0,0,0,0.3);
	}
	.report-sec { 
		padding: 5px 10px;
		flex: 1 0 auto;
		&.address {
			flex: 1 0 160px;
		}
		p {
			color:$default-color;
			font-weight: 600;
			margin-top: 5px;
		}
	}
	.dropdown-menu {
		left: -20px !important;
		.dropdown-item {
			font-size: 14px;
			position: relative;
			padding: 4px 4px 4px 40px;
			 i {
				position: absolute;
				left: 15px;
				top: 8px;
			}
		}
	}
}
.management-list {
	table {
		.dropdown-menu {
			left: auto !important;
			right: 0px !important;
			transform: translate3d(0px, 18px, 0px) !important;
			.dropdown-item {
				font-size: 14px;
				position: relative;
				padding: 4px 4px 4px 40px;
				 i {
					position: absolute;
					left: 15px;
					top: 8px;
				}
			}
		}
	}
	.overflow-scroll {
		.nav {
			flex-wrap: nowrap;
		}
	}
}
#keyword-search {
	position: relative;
	&::before {
		content: "";
		-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		height: 12px;
		width: 22px;
		position: absolute;
		bottom: -12px;
		background: #4d74d6;
		display: block;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	&::after {
		content: "";
		-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		height: 12px;
		width: 20px;
		position: absolute;
		bottom: -10px;
		background: #fff;
		display: block;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}
#marshal-invite { 
	.modal-body {
		.form-control {
			position: relative;
			padding:0;
			#sumbit-invites {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				max-width: 110px;
				width: 100%;
				border-radius: 0px 5px 5px 0px;
			}
			input {
				border: none;
				padding: 15px;
			}
		}
	}
}
.main-panel {
	.fire-marshal-sec {
		.fire-marshal-invite th {
			@media (max-width: 1400px) {
				min-width: 170px;
			}
		}
		.card-title{
			@media (max-width: 567px){
				text-align: center;
				width: 100%;
			}	
		}
		#keyword-search {
			@media (max-width: 567px){
				display: block;
				text-align: center;
			}
		}

	}
	.pagination {
		@media (max-width: 567px) {
			justify-content: center;
		}
	}
	.visible-entries {
		@media (max-width: 567px){
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.view-title {
		border-left: 3px solid $hover-color;
		font-size: 18px;
		margin-bottom: 5px;
		white-space: nowrap;
		margin-right: 20px;
		line-height: normal;
		h2 {
			padding: 0px 10px;
			line-height: normal;
		}
		h3 {
			padding: 0 10px;
			margin-bottom: 10px;
		}
	}
	.contractor-list {
		.divider-colon {
			&::after {
				content: "\003A";
				position: absolute;
				right: 10px;
				font-size: 30px;
				line-height: 30px;
				top: -5px;
			}
		}
	}
	.card-list-details {
		table {
			td {
				height: auto;
				border-bottom: none;
				padding: 10px !important;
			}
		}
	}
}
.main-panel {
	.card-head-row {
		.nav-link {
			margin-right: 7px;
			padding: 5px 15px;
			&.active {
				@include linear-gradient(#4d74d6, #4cb5eb);
				color: #fff !important;
				
			}
		}
	}
	.card-row {
		padding : 1rem 1.25rem;
		.nav-item {
			margin-right: 10px;
			&.active {
				@include linear-gradient(#4d74d6, #4cb5eb);
				color: #fff !important;
			}
		}
	}
	.font-size-lg {
		font-size: 20px !important
	}
	.list-item {
		background: #f9fafc;
		padding: 20px 12px;
	}
	.custom-control-label {
		position: relative;
		margin-bottom: 0;
		padding-left: 10px;
	}
	#profile-Content {
		.form-group {
			margin-bottom: 5px;
			padding: 10px;
		}
		input, select{
			padding: 1rem 0;
		}
	}
}
#inspection-list {
	.modal-dialog {
		@media (min-width: 567px){
			max-width: 1250px;
		}
		@media (max-width: 767px){
			margin: auto 10px;
		}
	}
}
#update-report {
	.modal-dialog {
		max-width: 670px;
		margin: 1.75rem auto;
	}
}
#request {
	.card-tools {
		a {
			@media (max-width: 480px){
				display: block;
				margin: 5px auto;
				text-align: center;
			}
		}
	}
}




/******* Contractor Dashboard *******/

@mixin tag-style($tag) {
	content: "";
	border-right: 10px solid transparent;
	border-left: 5px solid $tag;
	border-top: 12px solid $tag;
	border-bottom: 12px solid $tag;
	position: absolute;
	left: 100%;
	top:0;
	bottom: 0;
}
.report-sec {
	.report-list-info {
		border-spacing: 0 18px;
		border-collapse: separate;
		min-width: 1200px;
		td {
			padding: 10px !important;
			position: relative;
			vertical-align: top !important;
		}
	}
}

.contractor-dashboard {
	#settings {
		.custom-control-label {
			&::after {
				width: 1.5rem;
				height: 1.5rem;	
				top: .8rem;
			}
			&::before {
				width: 1.5rem;
				height: 1.5rem;
				top: .8rem;
			}
		}
		.modal-dialog {
			max-width: 750px;
		}
	}
}
.main-panel {
	.form-group {
		.form-control {
			width: 100%;
			height: auto !important;
			padding: 15px;
			border-radius: 5px;
		}
		.select2-selection{
			height: 50px !important;
			padding: 15px 35px 15px 15px;
			border-radius: 5px;
		}
		.select2 {
			margin-bottom: 0;
			width: 100% !important;
		}
	}
	.table-list {
		table {
			td {
				border-bottom: none;
			}
		}
	}
	.bill-pay {
		padding: 5px 2px 5px 10px;
		position: relative;
		color : #fff;
		font-size: 12px;
		line-height: normal;
		white-space: nowrap;
		margin-left: 10px;
		&.bg-success-gradient {
			&::after{
				@include tag-style($success-color);
			}
		}
		&.bg-danger-gradient {
			&::after{
				@include tag-style($danger-color);
			}
		}
		@media (max-width: 1200px) {
			margin-left: 0px;
		}
	}
}
.list-quotes-info {
	table {
		border-spacing: 0 25px;
		border-collapse: separate;
		min-width: 1100px;
		tr {
			td {
				padding: 0 !important;
				vertical-align: top !important;
				&:first-child { 
					border-top-left-radius: 10px; 
					border-bottom-left-radius: 10px;
					position: relative;
				}
				&:last-child { 
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px; 
				}
			}
		}
	}
	.list-row-block {
		background : #f9fafc;
		position: relative;
		&.hover {
			td {
				background: #fbac5d;
			}
			p {
				color: #fff !important;
			}
			small {
				color: #fff;
			}
			.action {
				.dropdown-list-items {
					i {
						@include text-gradient(#fff, #fff);
					}
				}
			}
		}
		@media (max-width: 1600px) {
			width: max-content;
		}	
		.list-1 {
			border-left: 10px solid;
			z-index: 1;
			position: relative;
			border-radius: 5px 0 0 5px;
			&::before {
				content: "";
				-webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 0, 60% 0, 90% 100%, 0% 100%);
				background: #efefef;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
				max-width: 250px;
				right: -50px;
			}
			small {
				color: #8898aa !important; 
			}
		}
		.list-sec { 
			padding: 20px 12px 15px;
			p {
				color:$default-color;
				font-weight: 600;
				margin-top: 5px;
			}
		}
		.dropdown-menu {
			left: -20px !important;
			.dropdown-item {
				font-size: 14px;
				position: relative;
				padding: 4px 4px 4px 40px;
				 i {
					position: absolute;
					left: 15px;
					top: 8px;
				}
			}
		}
		.date-tag {
			-webkit-clip-path: polygon(0 0, 89% 0, 99% 100%, 0% 100%);
			clip-path: polygon(0 0, 89% 0, 99% 100%, 0% 100%);
			background: #bcf2fe;
			padding: 5px 25px 5px 12px;
			position: absolute;
			top: -10px;
			left: 10px;
			border-radius: 5px;
			border-bottom: 2px solid rgba(0,0,0,.15);
			z-index: 2;
		}
	}
}
.time-line-list {
	position: relative;
	padding: 1px 0;
	&::before {
		content: "";
		width: 1px;
		background: #ccc;
		position:absolute;
		top: 0;
		bottom:0;
		left: 10px;
	}
	.row-list-sec {
		background: #fff;
		margin: 15px 0;
		position: relative;
		&::before {
			content: "";
			width: 5px;
			top: 0;
			bottom: 0;
			@include linear-gradient(#4d74d6, #4cb5eb);
			position: absolute;
			left: 8px;
			border-radius: 2px;
		}
	}
	.block {
		padding: 10px 15px 10px 25px;
		position: relative;
		&.list-sec2 {
			position :relative;
			&::before {
				content: "";
				width: 1px;
				position: absolute;
				top:0;
				bottom:0;
				left: 5px;
				background: #ccc;
				@media (max-width: 567px) {
					width: auto;
					left: 13px;
					height: 1px;
					right: 0;
				}
			}
			
			&::after {
				content: "";
				position: absolute;
				left: 5px;
				border-top: 8px solid transparent;
				border-left: 8px solid #ccc;
				border-bottom: 8px solid transparent;
				@media (max-width: 576px){
					left: 0;
					border-top: 8px solid #ccc;
					border-left: 8px solid transparent;
					border-right: 8px Solid transparent;
					right: 0;
					width: 10px;
					display: block;
					margin: 0 auto;
					top: 0;
				}
			}
		}
	}
}
.create-quote-sec { 
	.nav-pills {
		.nav-link{
			padding: 5px 15px;
			@media (max-width: 767px){
				order: 2;
			}
		}
		&.nav {
			flex-wrap: nowrap;
			overflow-x: auto;
		}
	}
	.btn-cost {
		margin-left: 15px;
		@media (max-width: 650px){
			max-width: 200px;
			width: 100%;
			display: block;
			margin: 0 auto 10px;
		}
	}
}
.work-orders-sec {
	.work-orders-table {
		border-spacing: 0 18px;
		border-collapse: separate;
		min-width: 1200px;
		td {
			padding: 10px !important;
			position: relative;
			vertical-align: top !important;
		}
	}
}
.row-projects {
	.dropdown {
		.dropdown-menu{
			@media (min-width: 576px){
				right: 0;
				left: auto !important;
			}
			padding: 10px;
			.dropdown-item {
				position: relative;
				padding: 5px 5px 5px 30px;
				i {
					position: absolute;
					left: 5px;
					top: 7px;
				}
			}
		}
	}
}
#assign_user {
	.select2-input {
		.select2 {
			margin-bottom: 15px;
			width: 100% !important;
			.select2-selection {
				background : #f9fafc;
				padding: 5px;
			}
		}
	}
}
.modal-dialog {
	.form-control {
		margin-bottom: 10px;
	}
	.select2-input {
		.select2 {
			margin-bottom: 10px;
			width: 100% !important;
			.select2-selection {
				background : #f9fafc;
				padding: 5px;
			}
		}
	}
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	@media (max-width: 992px){
		grid-template-columns: auto auto auto;
	}
	@media (max-width: 767px) {
		grid-template-columns: auto auto;
		padding: 30px 10px;
	}
	@media (max-width: 576px) {
		grid-template-columns: auto;
	}
	.grid-item {
		padding: 20px;
		width: 100%;
		@media (max-width: 992px) {
			white-space: normal !important;
		}
	}
}
.kanban-board {
	.dropdown-menu {
		left: auto !important;
		right: 0;
	}
}
.project-view {
	position: relative;
	.card-title	{
		&.email {
			position: relative;
			overflow: hidden;
			&::after {
				content: "";
				height: 2px;
				background: #e2e2e2;
				display: inline-block;
				position: absolute;
				bottom: 10px;
				margin-left: 15px;
				width: -moz-available;
				width: -webkit-fill-available;
			}
		}
	}
	.card-list-details {
		td {
			vertical-align: top !important;
		}
	}
}
#latest-activity {
	.card-row {
		.nav-item {
			margin-right: 10px;
			padding: 8px 25px;
			font-size: 15px;
			&.active {
				@include linear-gradient(#4d74d6, #4cb5eb);
				color: #fff !important;
			}
		}
	}
}
.comments-sec {
	.comment-list {
		margin-bottom: 10px;
		.user-icon {
			font-size: 18px;
			font-weight: 500;
			width: 30px; height: 30px;
			border-radius: 100%;
			padding: 3px;
			text-align: center;
			&.bg-primary-gradient {
				color: #fff;
			}
		}
	}
}
.customer-account-sec {
	.nav-pills {
		.nav-link {
			order: 2;
		}
	}
	.delete-img {
		font-size: 20px;
		bottom: -5px;
		right: 5px;
		position: absolute;
		background: #fff;
		border-radius: 100%;
	}
}
.order-summary {
	table {
		td {
			&:nth-child(1){
				font-weight: bold;
				min-width: 150px;
			}
		}
	}
}
.tab-content {
	td {
		position: relative;
		.left-border-style {
			padding: 1.5px;
			position: absolute;
			left: 5px;
			top: 10px;
			bottom: 10px;
		}
	}
}
.card , .card-light {
	.card-body {
		@media (max-width: 576px) {
			padding: 1rem .7rem;
		}
	}
}
#history {
	.grid-container{
		@media (min-width: 1700px){
			grid-template-columns: auto auto auto auto auto;
		}
		.grid-item {
			border-radius: 10px;
			padding: 15px;
		}
	}
}
table {
	.dropdown {
		a.rounded-circle{
			background: #e6eeff;
			padding: 5px 10px;
			border-radius: 100%;
		}
	}
}
.delete-option-sec {
	position: relative;
	padding-left: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	&::after {
		content: "";
		left: 14px;
		width: 1px;
		top: 20px;
		bottom: 20px;
		background: #eee;
		position: absolute;
	}
	.delete-icon {	
		width: 30px;
		height: 30px;
		background: #eee;
		position: absolute;
		left: 0;
		text-align: center;
		padding: 3px;
		font-size: 16px;
		border-radius: 100%;
		z-index: 1;
		top: 50%;
		bottom: 0;
		transform: translate(0%, -50%);
		a{
			color: #555;
		}
	}
}
.email-info-view {
	.icon-text {
		position: relative;
		padding: 2px 2px 2px 20px;
		i   {
			position: absolute;
			left:0;
			top:5px;
		}
	}
}
#account {
	.nav-pills {
		.nav-link {
			padding: 15px;
			background: #f2f3f5;
			border-color: #e2e2e2;
			text-align: left;
			font-size: 15px;
			font-weight: 500;
			&.active {
				color: $hover-color !important;
			}
		}
	}
}
.bg-none {
	background : $transparent-bg !important;
}

.user-profile-p {
	#v-pills-payment {
		.card-pyment {
			 img {
				width: 50px;
				background: #fff;
				padding: 7px 4px;
				border: 1px solid #ccc;
			}
			sup {
				font-size: 5px;
				vertical-align: super;
				color: #646978;
			}
		}
		.card-delete{
			padding: 4px 15px;
			font-size: 12px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
			text-transform: capitalize;
		}
	}
	table {
		border-collapse: separate;
		td, th{
			border: none;
			padding: 0 15px !important;
			min-width: 110px;
			a{
				color: $secondary-color;
			}
		}
	}
	.company-logo {
		position: relative;
	}
	.upload-cam {
		width: 30px;
		height: 30px;
		background: rgba(0,0,0,0.6);
		border-radius: 100%;
		padding: 3px;
		font-size: 16px;
		color: #fff;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: -13px;
	}
	.edit-pofile-tab {
		width: 50px;
		height: 50px;
		padding: 8px;
		text-align: center;
		font-size: 23px;
		color: #fff;
		position: absolute;
		right: 20px;
		bottom: -20px;
	}
	.card-profile {
		.profile-pic-upload {
			position: relative;
			.profile-picture {
				bottom: 10px;
			}
		}
	}
	
}

span.badge.badge-success {
    background-color: #3cbe6d;
}
.main-panel {
	#info {
		.form-group {
			.select2-selection {
				padding: 8px 35px 8px 15px;
			}
		}
	}
	#job-plan {
		.plan-task {
			a{
				width: 35px; height: 35px; display: block;
				text-align: center;
			}
		}
		.file-icon {
			position: relative;
			margin: 0 12px;
			a {
				position: absolute;
				width: 16px;
				height: 16px;
				text-align: center;
				font-size: 10px;
				right: -8px;
				bottom: -6px;
				background: #fff;
			}	
		}
	}
}

#assets {
	.tab-list-sec {
		margin-bottom: 10px;
		.click {
			display: inline-block;
			height: 23px;
			width: 23px;
			position: relative;
			span {
				position: absolute;
				height: 23px;
				width: 23px;
				top: 2px;
				right: 0;
				margin: 0!important;
				border:solid 1px $hover-color;
				&:after {
					content: "";
					height: 19px;
					width: 1px;
					@include linear-gradient(#4d74d6, #4cb5eb);
					position: absolute;
					top: 1px;
					right: 10px;
					transition: all ease .4s;
					transform: rotateX(0deg);
				}
				&:before {
					content: "";
					height: 1px;
					width: 19px;
					@include linear-gradient(#4d74d6, #4cb5eb);
					position: absolute;
					top: 10px;
					right: 1px;
				}
			}
		}
		.click[aria-expanded="false"] {	
			span {
				&:after {
					content: "";
					height: 19px;
					width: 1px;
					background-color: $hover-color;
					position: absolute;
					top: 1px;
					right: 10px;
				}
			}
		}
		.click[aria-expanded="true"] {	
			span {
				&:after {
					content: "";
					height: 19px;
					width: 1px;
					background-color: $hover-color;
					position: absolute;
					top: 1px;
					right: 10px;
					transform: rotateX(90deg);
				}
			}
		}
	}
}
#life-safety {
	.selectgroup-button-icon {
		font-size: 12px;
		width: 32px;
		height: 32px;
		position: relative;
		min-width: auto;
		margin-right: 7px;
		padding: 4px 5px;
	}
	.selectgroup-item {
		&:nth-child(2){
			span {
				@include bg-opacity(#48ABF7,0.2);
				&::before {
					background : #48ABF7;
				}
			}
		}
		&:nth-child(3){
			span {
				@include bg-opacity(#FFAD46,0.2);
				&::before {
					background : #FFAD46;
				}
			}
		}
		&:nth-child(4){
			span {
				@include bg-opacity(#dc3545,0.2);
				&::before {
					background : #dc3545;
				}
			}
		}
	}
	input[type="radio"]:checked {
		+.selectgroup-button-icon {
			position: relative;
			&::before {
				content: "";
				width: 15px;
				height: 15px;
				border-radius: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.main-panel{
	.add_purchase_form, .add_inventory_form {
		padding: 1.25rem;
		form{
			.form-group{
				input, select{
					background-color: #fbfbfb;
					border-radius: 0;
				}
			}
			.full_label{
				padding-bottom: 0;
				width: 100%;
			}
			.ship_add {
				.flex-1{
					padding-top: 0;
				}
			}
		}
		.product_info{
			padding: 0;
			margin-top: 30px;
			th{
				padding:0px 10px !important;
			}
			td{
				padding: 0 !important;
			}
		}
		.total_result{
			float: right;
			width: auto;
			th,td{
				border:none;
			}
			input{
				padding: 8px 15px;
			}
			tr{
				&:last-child{
					th,td{
						background-color: #f8f9f9;
					}
				}
			}
		}
		.btm_btns{
			width: 100%;
			justify-content: flex-end;
		}
	}
	
}


/** Super Admin Dashboard **/
.custom-file-label {
	&::after {
		content: "UPLOAD" !important;
		height: 100%;
		padding: 15px;
	}
}

#overview {
	.nav-pills {
		.nav-link {
			padding: 15px;
			background: #f2f3f5;
			border-color: #e2e2e2;
			text-align: left;
			font-size: 15px;
			font-weight: 600;
			&.active {
				color: #4d74d6 !important
			}
		}
	}
}
.cnt-sec-program {
	margin-bottom: 15px;
    padding-bottom: 25px !important;
	.rounded-circle {
		width: 20px;
		height: 20px;
		padding: 2px;
		display: block;
		font-size: 16px;
		font-weight: 500;
	}
	
}
.tab-content {
	.program-content-sec {
		position: relative;
		.add-sec-btn {
			position: absolute;
			left: 25px;
			bottom: 5px;
		}
	}
}

#accordion {
	.tab-list-sec {
		margin-bottom: 10px;
		.click {
			display: inline-block;
			height: 23px;
			width: 23px;
			position: relative;
			span {
				position: absolute;
				height: 23px;
				width: 23px;
				top: 2px;
				right: 0;
				margin: 0!important;
				border:solid 1px $hover-color;
				&:after {
					content: "";
					height: 19px;
					width: 1px;
					@include linear-gradient(#4d74d6, #4cb5eb);
					position: absolute;
					top: 1px;
					right: 10px;
					transition: all ease .4s;
					transform: rotateX(0deg);
				}
				&:before {
					content: "";
					height: 1px;
					width: 19px;
					@include linear-gradient(#4d74d6, #4cb5eb);
					position: absolute;
					top: 10px;
					right: 1px;
				}
			}
		}
		.click[aria-expanded="false"] {	
			span {
				&:after {
					content: "";
					height: 19px;
					width: 1px;
					background-color: $hover-color;
					position: absolute;
					top: 1px;
					right: 10px;
				}
			}
		}
		.click[aria-expanded="true"] {	
			span {
				&:after {
					content: "";
					height: 19px;
					width: 1px;
					background-color: $hover-color;
					position: absolute;
					top: 1px;
					right: 10px;
					transform: rotateX(90deg);
				}
			}
		}
	}
}


/** Fleet Management **/
.input-file.input-file-image {
	position: relative;
	width: auto;
	width: 120px;
	img {
		width: 120px;
		height: 120px;
		border-radius: 10px;
	}
	.label-input-file.btn.btn-default.btn-round {
		height: 40px;
		width: 40px;
		text-align: center;
		padding: 9px;
		background-color: #fff !important;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		i {
			color: #303a50;
		}
	}
}
.table-content {
	.profile-view {
		width: 150px;
		height: 150px;
	}
	.table {
		td {
			padding: 5px 0 !important;
			height: auto;
			border: 0;
		}
	}
}


/*Login Page */
.login {
	img {
		max-width: 200px;
		margin-top: 15px;
	}
}