.linkCls{
   cursor: pointer;
   color: #4d74d6
}

.cursorCls{
   cursor: pointer;
}

.messages-notif-box .message-notif-scroll{
   overflow-y: scroll;
}

.st0 {
   fill: #FFFFFF;
}

.st1 {
   fill:#EAEEF1;
}

.bg-secondary-light{
   background-color: #eaeef1 !important;
}

.errorCls{
   color: #f12f2f;
   font-size: 14px;
}
.payment-detail span.errorCls {
   font-weight: normal;
   font-size: 14px;
}

.errorClsRegister {
   color: #f12f2f;
   font-size: 12px;
   display: block;
   text-align: left;
}
.tab-btn-primary {
   color: #000;
   border-color: #f4f5f7;
   background-color: #f4f5f7;
   box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
   border-radius: 0;
}
.tab-btn-primary.active {
   background: #4d74d6;
   background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
   background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
   background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
   background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
   box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
   color: #fff !important;
}
.tab-btn-primary:first-child{
   border-radius: 30px 0 0 30px;
}
.tab-btn-primary:last-child{
   border-radius: 0 30px 30px 0;
}

.liColor{ color: #525f7f; }

.mainClsForCms .list-content ul{
   padding: 0;
}

.proCls .grid-item {
   font-size: 17px !important;
}
.scene .flip-btn2 {
   padding: 9px 11px !important;
}
.page-item.active .page-link {
   color: #fff !important;
}
.panel-header .btn-lg.btn-white-border {
   padding: 13px 20px !important;
   line-height: normal;
}
.main-panel .btn-sm {
   line-height: normal;
}

.sidebar .nav-collapse li a .sub-item {
   margin-left: 0 !important;
}
.sidebar-content li {
   list-style-type: none;
}
.main-panel .btn-sm {
   padding: 7px 12px !important;
}

/**Loader**/
.loader_itm {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background: transparent;
	left: 0;
	right: 0;
	z-index: 999;
} 

.loader_123 {
   height: 6px;
   width: 100%;
   max-width: 100%;
   position: fixed;
   overflow: hidden;
   background-color: #eaeef1;
}
.loader_123:before{
   display: block;
   position: absolute;
   content: "";
   left: -200px;
   width: 200px;
   height: 6px;
   background-color: #4caee9;
   animation: loading_123 2s linear infinite;
}

@keyframes loading_123 {
   from {left: -200px; width: 30%;}
   50% {width: 30%;}
   70% {width: 70%;}
   80% { left: 50%;}
   95% {left: 120%;}
   to {left: 100%;}
}
	
/**Loader**/

@media (max-width: 1366px){
   .card-title {
      font-size: .85rem;
      margin: 0;
      font-weight: bold;
   }
   .table>tbody>tr>td, .table tr th {
      padding: 0 10px !important;
      font-size: 13px;
   }
   .main-panel .btn-lg {
      padding: 11px 25px;
  }
  .main-panel .form-group .form-control {
      padding: 12px;
   }
   .card .card-header, .card-light .card-header {
      padding: 1rem .8rem;
      background-color: rgba(0,0,0,0);
      border-bottom: 1px solid #ebecec !important;
  }
}

/**Register Form Tab Css**/

.userTypeTabs .nav-pills.flex-column .nav-link {
   border-left: none;
   color: #b8b8b8;
   margin-top: -1px;
   word-wrap: normal;
   padding: 10px 0;
   border-top: none;
   border-right: none;
   border-bottom: 8px solid transparent;
}
.userTypeTabs  .nav-pills.flex-column .nav-link:hover {
   background: transparent;
}
.userTypeTabs .signup-top .nav-pills .nav-link.active {
   color: #4d74d6;
   border-color: transparent;
   border-bottom: 8px solid #4d74d6;
   background-color: transparent;
}
i.fas.fa-fire-smoke {
   font-family: "Font Awesome 5 pro";
}

span.sortingArrows {
   display: inline-block;
   vertical-align: middle;
   margin-left: 10px;
}

span.sortingArrows .fa {
   display: block;
   height: auto;
   font-size: 16px;
   line-height: 9px;
   cursor: pointer;
   margin: 1px 0;
   font-family: "Font Awesome 5 free" !important;
}

.hero-img img {
   height: auto;
   width: 100%;
   display: block;
   margin: 0 auto;
}

.delete-option-sec .delete-icon span {
   color: #555;
}

.colorPicker {
   position: absolute;
   z-index: 1;
}

.hiddenInputTypeFile {
   opacity: 0;
   position: absolute;
   pointer-events: none;
   width: 1px;
   height: 1px;
 }
.modal-content .form-control {
   padding: 8px !important;
}
.modal-open {
   padding-right: 5px !important;
}
.view-location-table{
   max-height: 350px;
}
.check-availibility{
   font-size: 12px;
   color: #4065e8;
   text-align: left;
   cursor: pointer;
   margin-left: 5px;
}
.check_icons {
   font-size: 12px;
}
.custom-switch .custom-control-label::after {
   background-color: #fff;
}
.custom-switch .custom-control-label::before {
   background-color: #f12f2f;
   border-color: #f12f2f;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
   border-color: #2dce89;
   background-color: #2dce89;
}
