
.default-text-style, .section-third-h .list-unstyled p, .list-unstyled p, .about-card p, .testimonials p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2e384f;
  font-family: 'Source Sans Pro', sans-serif;
}
.heading_title {
  font-size: 40px;
  color: #2e384f;
}
.profile-sections p {
  font-size: 16px;
}
.contactUsPageCls p {
  font-size: 18px;
}
.default-rounded-btn {
  font-weight: 500;
  padding: .825rem 1.65rem;
  white-space: nowrap;
  border-radius: 4rem;
  font-size: 18px;
  position: relative;
  transition: all .15s ease;
  cursor: pointer;
  border: none;
}
.default-rounded-btn:hover {
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.life-safety .right-side-section p {
  font-size: 18px;
}
.section--title {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .01em;
}
.description {
  line-height: 1.6;
}
.cursorCls.default-rounded-btn.btn-primary.btn-rounded.mt-3, .buttonStyle {
  display: block;
  max-width: 200px;
  margin: 35px auto 0 !important;
}
.profile-card .default-rounded-btn.btn-primary {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
.contact-us-form .form-group {
  padding: 0;
}
.search-filters p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #525f7f;
}
.anchor-link {
    color: #646978;
    cursor: pointer;
    text-decoration: none;
}
.anchor-link:hover {
    color: #4d74d6;
}
.anchor-link.active {
    color: #4d74d6;
}
.footer-anchor-link:hover  {
    color: #525f7f;
    text-decoration: underline;
}
.footer-anchor-link:hover  {
    color: #8898aa;
}
.navbar-nav .nav-link.login-link i {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #3f78e2 !important;
}
.title-style span:before, .title-style span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #bfc5d3;
    top: 14px;
    width: 100%;
}
.hero-header .btn.btn-lg {
  max-width: 235px;
  width: 100%;
}
.banner-sec,.grid-cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories-section .grid-item::before,.categories-section .grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar-transparent .navbar-toggler {
  border: none;
  outline: none;
}
.navbar-brand img {
  height: auto !important;
  max-width: 150px;
  width: 100%;
}
#navbar-main .navbar-nav .nav-link {
font-size: 12px;
font-weight: 700;
color: #29293c;
background: transparent !important;
}

.navbar-nav .nav-link i {
  font-size: 17px;
}

.login-link {
  padding-left: 0 !important;
}

.login-link i {
  padding-left: 1.2rem;
  border-left: solid 1px #444;
}

.footer .list-inline-item .border-secondary {
  border-color: #8898aa !important;
}

.footer .list-unstyled li a {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1;
  color: #8898aa;
}

.footer-logo>img {
  max-height: 55px;
  margin: 0 0 15px;
}

.footer-logo p {
  font-size: .8rem;
}

.footer-divider {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}

.bg-primary-gradient {
  background: #4d74d6 !important;
  background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%) !important;
  background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%) !important;
  background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%) !important;
  background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
}

/*Thank you page*/
.thank_u_page {
  min-height: calc(100vh - 380px);
  height: 100%;
  position: relative;
}
.content_inner_sec .text-style-gradient{
  background: #3b6ade;
  background: linear-gradient(to right, #3b6ade 0%, #5bf0ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#3b6ade', endColorstr= '#5bf0ff', GradientType=1 );
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: normal;
  color: #4d74d6;
}
.content_inner_sec {
  padding: 50px;
}
.bg_right_side {
  background-image: url('../images/thankspage3.png');
  background-size: 100% 98%;
}
.bg-img-cloud {
  position: absolute;
  top: 75px;
  z-index: -1;
  opacity: .2;
}
.floatingHorizontal {  
  animation : floatingHorizontal 3s ease-in-out infinite;
}
@keyframes floatingHorizontal {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(25px, 0px); }
  to   { transform: translate(0, 0px); }    
}






@media (min-width: 992px) and (max-width: 1200px) {
  #navbar-main .navbar-nav .nav-link {
    text-transform: capitalize;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .display-3 {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media (max-width: 992px) {
  .fixed-scroll {
    overflow-y: hidden;
  }
  .navbar-collapse.show {
    opacity: 1 !important;
  }
}

.navbar-toggler-icon::before {
  content: "\f0c9";
  position: relative;
  color: #32325d;
  font-size: 25px;
  font-family: "Font Awesome 5 Pro";
}



.hero-header {
  position: relative;
}

@media (max-width: 440px) {
  .hero-header .btn {
    font-size: 14px !important;
    font-weight: bold;
    padding: 12px 20px;
  }
}

.hero-header .lead {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #a7a9ac;
  font-weight: 400;
}

@media (min-width: 1920px) {
  .hero-header .lead {
    font-size: 2rem;
  }
}

.hero-header .container {
  position: relative;
  z-index: 3;
}

.hero-header .section-shaped {
  padding-top: 15rem;
  padding-bottom: 12rem;
}

@media (max-width: 1400px) {
  .hero-header .section-shaped {
    padding-top: 9rem;
    padding-bottom: 8rem;
  }
}


@media (min-width: 992px) and (max-width: 1400px) {
  .section-third-h img {
    max-width: 430px;
    width: 100%;
  }
}

.hero-img {
  text-align: right;
}

.hero-text1 {
  background: #3b6ade;
  background: -moz-linear-gradient(left, #3b6ade 0%, #5bf0ff 100%);
  background: -webkit-linear-gradient(left, #3b6ade 0%, #5bf0ff 100%);
  background: -ms-linear-gradient(left, #3b6ade 0%, #5bf0ff 100%);
  background: linear-gradient(to right, #3b6ade 0%, #5bf0ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#3b6ade', endColorstr= '#5bf0ff', GradientType=1 );
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500 !important;
  line-height: normal;
}




@media (max-width: 576px) {
  .banner-btm-bar .icon-section {
    width: 42px;
    text-align: center;
  }
}

.card-lift--hover {
  position: relative;
  background: #fff;
  background: -moz-linear-gradient(left, #fff 0%, #fff 100%);
  background: -webkit-linear-gradient(left, #fff 0%, #fff 100%);
  background: -ms-linear-gradient(left, #fff 0%, #fff 100%);
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#fff', endColorstr= '#fff', GradientType=1 );
  transition: all ease .5s;
}

.card-lift--hover h6 {
  color: #32325d;
  font-weight: 400;
  font-size: 1.9rem;
  transition: all ease .3s;
}

.card-lift--hover h6 span {
  color: #4d74d6;
  font-weight: 600;
  transition: all ease .3s;
}

.card-lift--hover:hover {
  color: #fff;
  background: #4d74d6;
  background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
  transition: all ease .5s;
}

.card-lift--hover:hover h6 {
  color: #fff;
}

.card-lift--hover:hover h6 span {
  color: #fff;
}

.card-lift--hover:hover .card-body .icon-shape>i {
  color: #fff;
}

.card-lift--hover .card-body {
  padding-bottom: 7rem !important;
}

.card-lift--hover .card-body .icon-shape {
  position: absolute;
  bottom: 20px;
  right: 42px;
}

.card-lift--hover .card-body .icon-shape>i {
  font-size: 5rem;
  color: #4d74d6;
}

.home-slider-wrap {
  padding: 20px 10px;
}

.home-slider .card {
  min-height: 410px;
}

@media (max-width: 1900px) and (min-width: 1201px) {
  .home-slider .card {
    min-height: 450px;
  }
}

.home-slider .slick-prev::before,.multiple-courses .slick-prev::before {
  content: '\f053' !important;
}

.home-slider .slick-next::before,.multiple-courses .slick-next::before {
  content: '\f054' !important;
}

.home-slider .slick-prev::before,.home-slider .slick-next::before,.multiple-courses .slick-prev::before,.multiple-courses .slick-next::before {
  font-family: "Font Awesome 5 Pro" !important;
  font-size: 40px !important;
  color: rgba(0,0,0,0.3) !important;
}

.home-slider .slick-initialized .slick-slide,.multiple-courses .slick-initialized .slick-slide {
  outline: none;
}

.bg-gradient-primary {
  background: #4d74d6;
  background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
}

.section-separator {
  padding-bottom: 7rem;
}

.pricing-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;
  box-shadow: 0px 1px 5px #f2f2f2;
}

@media (min-width: 1920px) {
  .pricing-card {
    padding: 2rem;
    height: 100%;
  }
}

.pricing-card h5 {
  font-weight: 700;
  margin-right: 35px
}

@media (max-width: 1024px) {
  .pricing-card h5 {
    font-size: 17px;
  }
}

.pricing-card h4 {
  font-size: 35px;
  font-weight: 500;
}

.pricing-card h4 small {
  color: #32325d;
  font-weight: 600;
  font-size: 15px;
}

.pricing-card h4 sup {
  font-weight: 400;
  font-size: 14px;
  vertical-align: super;
  color: inherit;
}

.pricing-card .list-content {
  margin-top: 10px;
}

.pricing-card .list-content li {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .pricing-card .list-content li {
    font-size: 16px;
  }
}

.pricing-card .plans-tabs.overflow-scroll li {
  font-size: 16px;
}

.pricing-card .plans-tabs.overflow-scroll li::before {
  font-size: 13px;
}

.pricing-table .btn-outline-secondary {
  color: #4d74d6;
  border: 1px solid #4d74d6;
  outline: none;
  margin: 15px 0;
  background: transparent;
  padding: 7px 25px;
}
.pricing-table .btn-outline-secondary:hover {
  color: #4d74d6 !important;
  border: 1px solid #4d74d6;
}

.pricing-table .custom-control {
  margin-top: 5px;
}

.pricing-table .custom-control .custom-control-label {
  font-size: 16px;
}

.pricing-table .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
}
.pricing-table .custom-control.custom-radio, .pricing-table .custom-control.custom-checkbox {
  margin-right: 0;
  width: 50%;
}


@media (max-width: 375px) {
  .hero-header .display-3 {
    font-size: 3rem;
  }
  /* .pricing-table .grid-container {
    grid-template-columns: 1fr ;
  } */
  .pricing-card {
    padding: 30px 15px;
  }
  #navbar-main .navbar-brand {
    margin: 0;
  }
}


.pricing-table .scene .grid-item {
  font-size: 16px;
  padding: 16px 14px 14px;
  line-height: 20px;
  background: rgba(0,0,0,0.05);
  text-align: center;
}

.pricing-table .grid-item strong {
  font-size: 26px;
}


@media (max-width: 375PX) {
  .pricing-table .grid-item {
    padding: 12px 14px 10px;
  }
}

.pricing-table .list-content li::before {
  font-size: 15px;
}

.pricing-table .pricing-active .grid-item {
  font-size: 18px;
  padding: 16px 14px 14px;
}

@media (min-width: 992px) {
  .pricing-table .pricing-active .list-content li::before {
    top: 10px;
  }
}

.tab-content.flipped {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.tab-content.flipped #pricing-cd {
  transform: rotateY(180deg);
  transition: transform 3s !important;
  transform-style: preserve-3d;
}

.tab-content.flipped #view-plan-pro {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.pricing-active {
  z-index: 1;
}

.pricing-active .pricing-card {
  background: #4d74d6;
  background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
  color: #fff;
  transition: all ease .5s;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.pricing-active .pricing-card li {
  color: #fff;
  border-color: #fff;
  font-size: 23px;
}


@media (max-width: 375px) {
  .pricing-active .pricing-card li {
    font-size: 17px;
  }
}

.pricing-active .pricing-card sup {
  color: #fff;
  border-color: #fff;
  font-size: smaller;
}

.pricing-active .pricing-card small {
  color: #fff;
  border-color: #fff;
  font-size: smaller;
  font-weight: 700;
}

.pricing-active .pricing-card h5 {
  color: #fff;
  border-color: #fff;
  font-size: 24px;
}

@media (min-width: 1920px) {
  .pricing-active .pricing-card h5 {
    color: #fff;
    border-color: #fff;
    font-size: 24px;
  }
}

.pricing-active .pricing-card .btn-outline-secondary {
  color: #fff;
  border-color: #fff;
  font-size: 23px;
  font-size: 21px !important;
}

@media (min-width: 1920px) {
  .pricing-active .pricing-card .btn-outline-secondary {
    color: #fff;
    border-color: #fff;
    font-size: 25px;
  }
}

/* .pricing-active .pricing-card .plans-tabs.overflow-scroll {
  overflow-y: auto;
  max-height: 510px;
  scrollbar-color: #4d94e0 rgba(255,255,255,0.5);
  scrollbar-width: thin;
} */

.pricing-active .pricing-card .plans-tabs.overflow-scroll h5 {
  font-size: 18px;
}

.pricing-active .pricing-card .plans-tabs.overflow-scroll li {
  font-size: 16px;
  font-weight: 400;
  margin: 3px 0;
}

.pricing-active .pricing-card .plans-tabs.overflow-scroll li::before {
  top: 4px;
  font-size: 14px;
}

.pricing-active .pricing-card .plans-tabs.overflow-scroll .custom-control-label {
  font-size: 18px !important;
  color: #fff !important;
}

.pricing-active .pricing-card .plans-tabs li {
  font-size: 20px;
}

.pricing-active .pricing-card .plans-tabs li::before {
  top: 8px;
}

.pricing-active .pricing-card .plans-tabs .custom-control .custom-control-label {
  font-size: 20px;
}

.pricing-active .pricing-card .plans-tabs .custom-control .custom-control-label::before,.pricing-active .pricing-card .plans-tabs .custom-control .custom-control-label::after {
  top: 0.55rem;
}
.scene .pricing-active .pricing-card.proCls .custom-control-label::before, .scene .pricing-active .pricing-card.proCls .custom-control-label::after {
  top: 0.25rem;
}
.pricing-active .list-content span.liColor {
  color: #fff;
}

@media (min-width: 1920px) {
  .pricing-active .list-content li::before {
    font-size: 18px;
    top: 10px;
  }
}

.scene {
  width: 100%;
  height: 750px;
  margin: 0 0;
  perspective: 600px;
  z-index: 1;
}

.scene:nth-child(2) {
  z-index: 10;
}

.scene:nth-child(1),.scene:nth-child(3) {
  z-index: 9;
}

.scene .is-flipped .front {
  cursor: none;
  visibility: hidden;
}

.scene .is-flipped #pricing-cd .ribbon {
  display: none;
}

.scene .is-flipped #cardOne-front .ribbon {
  display: none;
}

.scene .is-flipped #cardThird-front .ribbon {
  display: none;
}

.scene .pricing-active,.scene .pricing_cardOne,.scene .pricing_cardThird {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.scene .pricing-active.is-flipped,.scene .pricing_cardOne.is-flipped,.scene .pricing_cardThird.is-flipped {
  transform: rotateY(180deg);
}

.scene .pricing-active .pricing-card,.scene .pricing_cardOne .pricing-card,.scene .pricing_cardThird .pricing-card {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.scene #view-plan-pro {
  transform: rotateY(180deg);
  height: 790px;
  margin-top: -10px;
}
/* 
@media (max-width: 375px) {
  .scene #view-plan-pro {
    height: 930px;
  }
} */


.scene #cardOne-back {
  transform: rotateY(180deg);
  /* height: 700px; */
  top: 0;
  margin-top: 10px;
}
.scene #cardOne-back.proCls {
  transform: rotateY(180deg);
  /* height: 750px; */
  margin-top: 0;
}
.scene #cardThird-back {
  transform: rotateY(180deg);
  /* height: 700px; */
}

/* @media (max-width: 375px) {
  .scene #cardThird-back {
    height: 820px;
  }
} */

/* .scene #cardOne-back .plans-tabs.overflow-scroll,.scene #cardThird-back .plans-tabs.overflow-scroll {
  height: 425px;
  overflow-y: auto;
  scrollbar-color: #4d94e0 rgba(0,0,0,0.1);
  scrollbar-width: thin;
} */

.scene .flip-btn2 {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  padding: 6px 11px;
  border-radius: 100%;
}

.divider-top {
  padding-top: 7rem !important;
}

.divider-bottom {
  padding-bottom: 7rem !important;
}

.popover {
  pointer-events: none;
}

.floating-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map-animate-section {
  overflow: hidden;
}

.map-animate-section .map-location-bg {
  height: 100%;
  max-width: unset;
  display: block;
  margin: 0 auto;
}

.map-animate-section .map-animate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.locater-pointer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.information-block {
  background: #fff;
  padding: 10px;
  color: inherit;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin-left: 20px;
}

.user-img img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.logo-slider--box {
  padding: 15px;
}

.logo-slider--box img {
  margin: 0 auto;
}

.ftr-contact i {
  color: #4d74d6;
}

.inner-banner {
  position: relative;
  margin-top: 76px;
  overflow: hidden;
}

@media (max-width: 440px) {
  .inner-banner .img-fluid {
    max-width: unset;
    height: 100%;
  }
}

.inner-banner .inner-banner-image {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.inner-banner .inner-banner-image:after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: .8;
  top: 0;
  height: 100%;
  left: 0;
  background: #4d74d6;
  background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
}

.inner-banner .inner-banner-content {
  padding: 4rem 0;
}

.inner-banner .inner-banner-content h1 {
  font-size: 2.9rem;
  font-weight: 700;
}

.inner-banner .inner-banner-content h3 {
  font-size: 1.45rem;
  font-weight: 400;
}

.list-unstyled .badge-circle {
  flex: 0 0 2rem;
  margin-left: 0;
}

.about-card {
  position: relative;
}

.about-card h3 {
  padding-left: 71px;
  font-size: 27px;
}

.about-card i {
  font-size: 4.3rem;
  position: absolute;
  top: -17px;
  left: 12px;
  color: #4d74d6;
}

.member-signup h4 {
  color: #fff;
  font-weight: 400;
}

.member-signup h4 span {
  font-weight: 700;
  display: block;
}

.member-signup h2 {
  color: #fff;
}


.borderright {
  border-right: solid 1px rgba(0,0,0,0.15);
}


.borderright:last-child {
  border: none;
}

.divider-height-btm {
  padding-bottom: 140px !important;
}

.forgotpswrd {
  font-size: .875rem;
  color: #525f7f;
  position: relative;
  top: -4px;
}

.banner-sec {
  width: 100%;
}

.inner_banner_image {
  width: 100%;
}

.inner_banner_image>img {
  min-height: 250px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .inner_banner_image>img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .inner_banner_image {
    max-height: 350px;
  }
}

@media (max-width: 440px) {
  .inner_banner_image {
    width: 100%;
    max-height: 250px;
  }
}

.banner-img-training form {
  max-width: 550px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.banner-img-training .form-group {
  position: relative;
  margin-top: 30px;
  padding: 0;
}

#search-field {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  border: none;
  padding: 5px 20px;
  line-height: 22px;
}

#search-submit {
  position: absolute;
  right: 5px;
  bottom: 5px;
  top: 5px;
  max-width: 120px;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: #2e384f;
  color: #fff;
  border: 1px solid #2e384f;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  outline: none;
}

.icon-section img {
  height: 35px;
  width: auto;
}

.cnt-section {
  line-height: 22px;
}

.featured-courses .card {
  margin: 15px;
}

.featured-courses .card-body a {
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1920px) {
  .featured-courses .card-body a {
    font-size: 18px;
  }
}

.rating-icons span {
  color: #eebf40;
  font-size: 16px;
}

.card-tag {
  position: absolute;
  top: 10px;
  background: #eebe3d;
  padding: 0px 5px;
  line-height: 22px;
  font-size: 14px;
}

.card-tag::after {
  width: 0px;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 11px solid #eebe3d;
  border-left: 0px solid #eebe3d;
  border-bottom: 11px solid #eebe3d;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  content: "";
}

.card-img-top {
  min-height: 175px;
  max-height: 210px;
}

@media (max-width: 440px) {
  .card-img-top {
    min-height: auto;
  }
}

.categories-section a {
  color: #fff;
}

.categories-section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 10px;
}

@media (max-width: 375px) {
  .categories-section .grid-container {
    grid-template-columns: 1fr;
  }
}

.categories-section .grid-container .grid-item {
  font-size: 30px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding:  0;
}

.categories-section .grid-item::before {
  width: 100%;
  background: rgba(46,56,79,0.6);
}

.categories-section .grid-item::after {
  width: 0%;
  transform-origin: left;
  transition: width 0.25s ease;
}

.categories-section .grid-item:hover::after {
  background: rgba(77,116,214,0.619608);
  background: -moz-linear-gradient(left, rgba(77,116,214,0.619608) 0%, rgba(76,181,235,0.678431) 100%);
  background: -webkit-linear-gradient(left, rgba(77,116,214,0.619608) 0%, rgba(76,181,235,0.678431) 100%);
  background: -ms-linear-gradient(left, rgba(77,116,214,0.619608) 0%, rgba(76,181,235,0.678431) 100%);
  background: linear-gradient(to right, rgba(77,116,214,0.619608) 0%, rgba(76,181,235,0.678431) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= 'rgba(77,116,214,0.619608)', endColorstr= 'rgba(76,181,235,0.678431)', GradientType=1 );
  width: 100%;
}

.grid-cnt {
  color: #fff;
  z-index: 1;
  width: 100%;
}

.grid-cnt img {
  height: 30px;
  width: auto;
}

.grid-cnt p {
  font-size: 16px;
}

.testimonials .user-icon {
  line-height: 20px;
}

.testimonials .user-icon img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 7px solid #4d74d6;
}

.testimonials .carousel-indicators li {
  border: 1px solid #ccc;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
}

.testimonials .carousel-indicators li.active {
  background: #4d74d6;
  border: 2px solid #4d74d6;
}

.details_banner_image::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: .8;
  top: 0;
  height: 100%;
  left: 0;
  background: #4d74d6;
  background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
  background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
}

.details_banner_image img {
  height: 100%;
  min-height: 200px;
  display: block;
  margin: 0 auto;
}

.light-font-color {
  color: #ccc;
}

.inner-detail-p p {
  font-size: 16px;
}

.inner-detail-p h3 {
  font-size: 25px;
}

.main-color {
  color: #4d74d6;
}

.list-content li {
  list-style-type: none;
  padding-left: 30px;
  position: relative;
  font-size: 15px;
  margin: 7px 0;
  color: #2e384f;
}

.list-content li::before {
  content: "\f00c";
  position: absolute;
  left: 3px;
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
  top: 3px;
  font-weight: 600;
}

.courses-details .card a {
  color: #fff;
  font-size: 16px;
}

.courses-details .card-header {
  font-size: 16px;
}

.courses-details #accordion .card {
  margin-bottom: 10px;
}

.courses-details .detail_list {
  font-size: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 10px 35px;
}

.courses-details .card-body {
  padding: 0;
}

.courses-details .column-auto {
  width: auto;
  margin-right: 10px;
}

.courses-details .column {
  text-align: right;
  white-space: nowrap;
}

.courses-details .column span {
  margin-right: 10px;
}

.heading-list li span {
  font-size: 16px;
}

.heading-list li a {
  font-size: 16px;
}

.description-sec .media>img {
  width: 80px;
  height: 80px;
  border: 3px solid #4d74d6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/*Locate Contractor*/
.inner-banner img {
  width: 100%;
}
.contractor-category .card-title {
  color: #fff !important;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.contractor-category .category-card {
  border: 1px solid #dfdfe3;
  box-shadow: 0px 2px 5px #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}
.card_cnt_sec {
  padding: 15px ;
  text-align: left;
}
.infomation {
  position: relative;
  font-size: 16px;
  padding-left: 28px;
}
.infomation i {
  position: absolute;
  left:0;
  top: 6px;
}
.contractor-category .nav-pills.flex-column .nav-link {
  font-size: 25px;
  background: #fff;
  color: #b8b8b8;
  border-width: 0px 0px 5px;
  box-shadow: none;
  border-color: transparent;
  box-shadow: 0px 2px 4px #f2f2f2;
}
.contractor-category .nav-pills.flex-column .nav-link:hover, .contractor-category .nav-pills.flex-column .nav-link:focus, .contractor-category .nav-pills.flex-column .nav-link.active {
  border-color: #4d74d6;
  color: #4d74d6;
}
.contractor-category .nav.nav-pills {
  border-bottom: 1px solid #ccc;
}



@media (max-width: 440px) {
  .description-sec .media>img {
    display: block;
    margin: 0 auto 10px !important;
    text-align: center;
  }
  .description-sec .media {
    display: block;
    text-align: center;
  }
}

.description-sec p {
  font-size: 15px;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .description-sec p {
    text-align: justify;
  }
}

@media (max-width: 375px) {
  .description-sec h3 {
    text-align: center !important;
  }
}

.sidebar-sec .video-img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

  .sidebar-cnt-sec {
    padding: 10px 20px 40px;
    position: relative;
  }

  .sidebar-cnt-sec h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .sidebar-cnt-sec h4 strong {
    font-size: 30px;
  }


  .sidebar-cnt-sec h6 i {
    font-size: 20px;
  }

  .sidebar-cnt-sec .card-tag {
    font-size: 18px;
    font-weight: 700;
    padding: 6px 15px;
    right: 0;
    top: 20px;
  }

  .sidebar-cnt-sec .card-tag::after {
    border-left: 10px solid transparent;
    border-top: 17px solid #eebe3d;
    border-right: 0px solid #eebe3d;
    border-bottom: 17px solid #eebe3d;
    left: -10px;
    right: 100%;
  }

  .sidebar-cnt-sec .list-content li {
    font-size: 14px;
  }

  .sidebar-cnt-sec .list-content li::before {
    color: #4d74d6;
  }

  .list-cnt li {
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 30px;
  }

  .list-cnt li i {
    position: absolute;
    left: 0;
    text-align: center;
    color: #4d74d6;
    font-size: 15px;
    top: 5px;
  }

  .categories-inner-p .card {
    margin-bottom: 30px;
  }

  .search-filters .nav-item {
    border: 1px solid #ccc;
    font-size: 14px;
    max-width: 115px;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }

  .search-filters .nav-item a {
    padding: 5px 15px;
    color: #525f7f;
    font-weight: 500;
  }

  @media (max-width: 375px) {
    .search-filters .nav-item a {
      padding: 5px 5px;
    }
  }

  @media (max-width: 576px) {
    .search-filters .nav-item {
      max-width: 105px;
    }
  }

  @media (max-width: 375px) {
    .search-filters .nav-item {
      max-width: 85px;
    }
  }

  .search-filters .dropdown-toggle::after {
    position: absolute;
    top: 14px;
    right: 10px;
  }

  .search_results h5 {
    font-size: 20px;
    font-weight: bold;
  }

  .search_results .list-inline {
    font-size: 15px;
  }

  @media (min-width: 992px) {
    .search_results .result-block-cnt img {
      max-width: 270px;
    }
  }

  .result-block-cnt p {
    font-size: 15px;
  }

  .pagination-sec .page-link {
    border: none;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.09);
    font-size: 15px !important;
    font-weight: bold;
  }

  .pagination-sec .page-link:hover {
    color: #fff;
    background: #5785df;
  }

  .pagination-sec .page-link:focus {
    color: #fff;
    background: #5785df;
  }

  .profile-img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }

  .inner-page-banner .inner-banner-image::after {
    content: "";
    background: transparent;
  }

  .inner-page-banner .inner-banner-image img {
    height: 100%;
    width: 100%;
  }

  .inner-page-banner .inner-banner-content img {
    border: 3px solid #ccc;
    max-width: 380px;
    width: 100%;
  }

  .progress-bar-sec p {
    font-size: 15px;
    font-weight: 600;
  }

  .progress-bar-sec .progress {
    height: 15px;
    margin-bottom: 0rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color: #646978;
    position: relative;
  }

  .progress-bar-sec i {
    color: #646978;
    font-size: 28px;
    margin: 0 20px;
  }

  .progress::after {
    content: '';
    width: 10px;
    height: 20px;
    background: #1a1d24;
    position: absolute;
    right: 60px;
  }

  .progress-bar {
    background-color: #4cb4eb;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
  }

  .tab-content-search-p {
    box-shadow: 0px 0px 5px #ccc;
  }

  .tab-content-search-p .nav-pills .nav-link {
    background: transparent;
    border: 2px solid transparent;
    box-shadow: none;
    color: #32325d;
    font-size: 18px;
    padding: 20px 0;
    margin: 0 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }

  .tab-content-search-p .nav-pills .nav-link:hover, .tab-content-search-p .nav-pills .nav-link:focus, .tab-content-search-p .nav-pills .nav-link.active  {
    border-bottom: 2px solid #4d75d6 !important;
    color: #4d74d6 !important;
    background: transparent;
  }


  .tab-content-search-p .nav-pills li.active .nav-link {
    border-bottom: 2px solid #4d75d6;
    color: #4d74d6;
  }

  .tab-content-search-p .nav-pills li:last-child .nav-link:hover {
    border-bottom: 2px solid #f2f2f2;
  }

  @media (max-width: 576px) {
    .tab-content-search-p .nav-item {
      margin: 0;
    }
  }

  @media (max-width: 375px) {
    .tab-content-search-p .nav-item {
      display: block;
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .tab-content-search-p .nav-item .nav-link {
      margin: 0px 8px;
    }
  }

  @media (max-width: 375px) {
    .tab-content-search-p .nav-item .nav-link {
      padding: 10px 0;
      margin: 0;
      border-bottom: 2px solid #f2f2f2;
    }
    .tab-content-search-p .dropdown-menu.show {
      position: relative !important;
      transform: translate3d(0px, 0px, 0px) !important;
      border: none;
      width: 100%;
      padding: 0;
    }
    .tab-content-search-p .dropdown-menu.show .dropdown-item {
      display: block;
      width: 100%;
      border-bottom: 2px solid #f2f2f2;
      margin-left: 15px;
    }
  }

  #course .top-bar form {
    position: relative;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    max-width: 400px;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    #course .top-bar form {
      max-width: 100%;
    }
  }

  #course #search_submit {
    padding: 0 20px;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #4d74d6;
    position: absolute;
    border: 0;
    color: #fff;
  }

  #course .list-inline li {
    font-size: 16px;
    margin: 0 12px;
  }

  #course .list-inline li.active {
    font-weight: bold;
  }

  @media (max-width: 767px) {
    #course .list-inline {
      text-align: center;
    }
  }

  #course .card-header {
    background: #fff;
  }

  #course .card-header a {
    text-decoration: none;
    color: #525f7f;
  }

  @media (max-width: 576px) {
    #course .card-header h5 {
      font-size: 16px;
      font-weight: 600;
    }
  }

  #course .card-body .detail_list {
    padding: 15px 20px;
    margin: 0;
  }

  #course .card-body .detail_list .video-icon {
    padding-left: 35px;
    position: relative;
  }

  #course .card-body .detail_list .video-icon a {
    text-decoration: none;
    color: #525f7f;
  }

  #course .card-body .detail_list .video-icon i {
    display: none;
  }

  #course .card-body .detail_list:hover {
    background: #e6f4fb;
  }

  #course .card-body .detail_list:hover .video-icon i {
    display: block;
    position: absolute;
    left: 0px;
    top: 6px;
  }

  #course .card-body .detail_list.active {
    background: #e6f4fb;
  }

  #course .card-body .detail_list.active .video-icon i {
    display: block;
    position: absolute;
    left: 0px;
    top: 6px;
  }

  #course .card {
    border: 1px solid #23558e47;
    background: #fff;
    margin-bottom: 20px;
  }

  .load-more a {
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    text-decoration: none;
  }

  .load-more a i {
    vertical-align: text-top;
  }

  #overview q {
    font-size: 15px;
  }

  #overview a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }

  #overview p {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .nav-item.profile .dropdown-menu {
    box-shadow: 0px 0px 5px #ccc;
    border: none;
    padding: 10px 15px;
    max-width: 200px;
    width: 100%;
    right: 0;
    left: auto;
  }

  @media (max-width: 992px) {
    .nav-item.profile .dropdown-menu {
      box-shadow: none;
      padding: 0px 15px 10px;
      max-width: 100%;
      width: 100%;
    }
  }

  .nav-item.profile .dropdown-menu hr {
    margin: 10px 0 5px;
  }

  .nav-item.profile .dropdown-menu:before {
    left: auto;
    right: 30px;
  }

  .nav-item.profile .list-inline .list-inline-item {
    width: 100%;
    margin-bottom: 3px;
    position: relative;
    padding-left: 25px;
    font-size: 14px;
  }

  .nav-item.profile .list-inline .list-inline-item a {
    padding: 0;
    text-transform: capitalize;
    font-weight: 600 !important;
  }

  .nav-item.profile .list-inline-item i {
    position: absolute;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    top: 4px;
  }

  .nav-item.dropdown.profile {
    position: relative;
  }

  .side-cnt-inner {
    white-space: pre;
  }

  .side-cnt-inner .time {
    margin-right: 5px;
  }

  .profile-p .side-bar {
    padding: 15px;
    height: 100%;
  }

  .pro-img {
    position: relative;
  }

  .pro-img i {
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    padding: 5px;
    font-size: 14px;
    bottom: 0;
    right: 0px;
  }

  .pro-img img {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
  }

  .profile-info {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
  }

  .pro-cnt {
    padding-left: 15px;
  }

  .pro-cnt p {
    font-size: 14px;
  }


  .signup-height input, .signup-height textarea {
    background-color: #f3f6f8;
    border-color:  #f3f6f8;
  }
  .side-bar-list .nav.nav-tabs.tabs-left {
    padding-left: 25px;
    border: none;
  }

  .side-bar-list .nav.nav-tabs.tabs-left li {
    width: 100%;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .side-bar-list .nav.nav-tabs.tabs-left li a {
    color: #646978;
    text-decoration: none;
  }

  .side-bar-list .nav.nav-tabs.tabs-left li a:hover {
    list-style-type: disc;
    list-style-position: outside;
    font-weight: bold;
    color: #4d74d6;
  }

  .side-bar-list .nav.nav-tabs.tabs-left li:hover a {
    color: #4d74d6;
  }

  .side-bar-list .nav.nav-tabs.tabs-left li .active {
    list-style-type: disc;
    list-style-position: outside;
    font-weight: bold;
    color: #4d74d6;
  }

  .profile-main-cnt .tab-content {
    padding: 15px 25px;
    height: 100%;
  }
  .profile-main-cnt .list-content span.liColor {
    font-size: 16px;
  }
  .profile-main-cnt td {
    font-size: 13px;
  }
  .profile-main-cnt .fa-check {
    color: #4d74d6;
  }

  .profile-main-cnt th {
    font-size: 14px;
    min-width: 90px;
  }

  .profile-main-cnt table {
    width: 100%;
  }

  .account-form {
    max-width: 480px;
    width: 100%;
  }

  .account-form input {
    width: 90%;
  }

  .account-form .form-group {
    position: relative;
  }

  .account-form .edit {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .account-form .edit i {
    background: #f2f5f6;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    padding: 7px;
    font-size: 16px;
  }

@media (max-width: 440px) {
  .account-form .edit {
    right: -12px;
  }
}

  .courses-details .click {
    display: inline-block;
    height: 23px;
    width: 23px;
    position: relative;
  }

  .courses-details .click span {
    position: absolute;
    height: 23px;
    width: 23px;
    top: 0;
    right: 0;
    margin: 0 !important;
    border: solid 1px #fff;
  }

  .courses-details .click span:after {
    content: "";
    height: 19px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 1px;
    right: 10px;
    transition: all ease .4s;
    transform: rotateX(0deg);
  }

  .courses-details .click span:before {
    content: "";
    height: 1px;
    width: 19px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 1px;
  }

  .courses-details .click[aria-expanded="false"] span:after {
    content: "";
    height: 19px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 1px;
    right: 10px;
  }

  .courses-details .click[aria-expanded="true"] span:after {
    content: "";
    height: 19px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    top: 1px;
    right: 10px;
    transform: rotateX(90deg);
  }

  .bglight-clr {
    background-color: #f4f5f7;
    padding: 5px 15px;
  }

  .card-pyment {
    font-size: 18px;
    color: #646978;
  }

  .card-pyment sup {
    font-size: 5px;
    vertical-align: super;
    color: #646978;
  }

  .card-pyment img {
    width: 50px;
    background: #fff;
    padding: 7px 4px;
    border: 1px solid #ccc;
  }

  #payment .btn.btn-outline-danger {
    padding: 4px 15px;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    border: 1px solid  #f5365c;
  }

  .program-table .video-icon {
    max-width: 100px;
  }

  .program-table tbody {
    vertical-align: top;
    font-weight: 500;
  }

  .program-table p {
    margin: 0;
    max-width: 206px;
    width: 100%;
    padding: 0;
    min-width: 150px;
  }

@media (max-width: 576px) {
  .video-icon {
    font-size: 16px;
  }
}

  #training p a {
    color: #525f7f;
    text-decoration: none;
  }

  .table-upgrade tbody {
    vertical-align: top;
    font-weight: 500;
    border-bottom: 1px solid #cfd0d3;
  }

  #upgrade .table-upgrade .btn.btn_secondary.active {
    background: #4d74d6;
    background: -moz-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
    background: -webkit-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
    background: -ms-linear-gradient(left, #4d74d6 0%, #4cb5eb 100%);
    background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#4d74d6', endColorstr= '#4cb5eb', GradientType=1 );
    box-shadow: 0 4px 6px rgba(50,50,93,0.11),0 1px 3px rgba(0,0,0,0.08);
    color: #fff !important;
  }

  #upgrade .table-upgrade .btn.btn_secondary {
    padding: 6px 15px;
    font-size: 14px !important;
    text-transform: capitalize;
    border-radius: 4rem;
    color: #212529;
    border-color: #f4f5f7;
    background-color: #f4f5f7;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11),0 1px 3px rgba(0,0,0,0.08);
  }
  #upgrade .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #upgrade  .btn-group > .btn:not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .table-upgrade .list-content li {
    color: #525f7f;
    font-size: 16px;
    min-width: 180px;
  }

  .table-upgrade .list-content li::before {
    color: #4d74d6;
    left: 5px;
    top: 5px;
  }

  .table-upgrade thead {
    border-bottom: 1px solid #cfd0d3;
  }

  .table-upgrade .focused .form-control {
    border-color: #d8d8d8;
    background: #f6f7f8;
    padding: 7px 10px;
    height: auto;
  }

  .table-upgrade .badge {
    font-size: 13px;
    text-transform: capitalize;
    line-height: 16px;
    font-weight: 600;
  }

  .upgrade-plan p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .upgrade-plan .date {
    background: #eff1f6;
    padding: 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    max-width: 110px;
    margin-bottom: 10px;
  }

  .title-style {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .title-style span {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-bottom: 13px;
  }

  .title-style span:before {
    margin-right: 15px;
    right: 100%;
  }

  .title-style span:after {
    margin-left: 15px;
    left: 100%;
  }

  .plan-table {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }

  .plan-table .list-content li {
    padding-left: 20px;
    font-size: 14px;
    color: #fff;
  }

  .plan-table .list-content li::before {
    font-size: 10px;
  }

  .plan-table .btn.btn-sm {
    font-size: 13px;
    padding: 6px 15px;
  }

  .courses-price-info i {
    font-size: 19px;
  }

  .courses-info {
    font-size: 17px;
  }

@media (min-width: 1920px) {
  .courses-info {
    font-size: 20px;
  }
}

  .side-col {
    position: relative;
    padding: 30px 20px;
    margin-top: 25px;
  }

  .checkout-inner-p #checkout {
    max-width: 160px;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }


  .add-courses {
    margin-bottom: 25px;
  }

  .add-courses:last-child {
    margin-bottom: 0;
  }

@media (min-width: 768px) {
  .add-courses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}


  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }

  .ribbon-top-right::before {
    border-top-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
  }

  .ribbon-top-right::after {
    border-top-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    bottom: 0;
    right: 0;
  }

  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  .ribbon {
    width: 114px;
    height: 114px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon::before {
    position: absolute;
    content: '';
    display: block;
    border: 5px solid #805561;
  }

  .ribbon::after {
    position: absolute;
    content: '';
    display: block;
    border: 5px solid #805561;
  }

  .ribbon span {
    position: absolute;
    display: block;
    width: 180px;
    padding: 8px 0;
    background: #eb4f7b;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: #fff;
    font: 500 14px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
  }

  .contact-us {
    margin-top: -140px;
  }

  .contact-us .social-icon a i {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
  }
  .contactUsPageCls .form_contact {
    padding: 50px 30px;
  }
  .contact-us .icon-contact p {
    position: relative;
    padding-left: 30px;
  }

  .contact-us .icon-contact i {
    position: absolute;
    left: 0;
    top: 7px;
  }

  .contact-us-form input,.contact-us-form textarea {
    width: 100%;
    background: #f3f6f8;
    border: none;
    text-align: left;
    padding: 16px 10px;
    height: auto;
  }

  .signup-top .nav-pills .nav-link {
    font-size: 1.35rem;
    color: #b8b8b8;
    display: block;
    border-bottom: 8px solid transparent;
    box-shadow: none;
    border-radius: 0;
  }

  .signup-top .nav-pills .nav-link.active {
    color: #4d74d6;
    border-color: transparent;
    border-bottom: 8px solid #4d74d6;
    background-color: transparent;
  }

  .signup-top .nav-pills .nav-item.show .nav-link {
    color: #4d74d6;
    border-color: transparent;
    border-bottom: 8px solid #4d74d6;
    background-color: transparent;
  }

  .signup-top .nav-pills i {
    font-size: 33px;
    text-align: left;
    padding: 0 10px 0 0;
  }

  .signup-top #nav-tab {
    border-bottom: 1px solid #eee;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
  }

  .signup-top .default-rounded-btn {
    max-width: 200px;
    width: 100%;
    padding: 15px;
    margin: 0 10px;
    display: inline-block;
  }

  .signup-frm .form-control:disabled,.form-control[readonly] {
    background-color: #f3f6f8;
    opacity: 1;
    border: none;
    color: #d5d6d7;
    font-weight: 600;
  }

  .signup-frm #inputAddress {
    height: 95px;
  }

  .signup-frm #inputAddress2 {
    height: 95px;
  }

  .signup-frm {
    padding: 15px 15px;
  }
/* 
  .signup-frm .form-control {
    background: #f3f6f8;
    border: none;
  } */

  .signup-frm label {
    font-weight: bold;
    color: #4d75d5;
    font-size: 1.1rem;
  }

  .signup-frm .form-row .custom-file label {
    text-align: left;
    color: #8898aa;
    font-weight: normal;
    background: #f3f6f8;
    border: 0;
  }

  .signup-frm .form-row .custom-file label::after {
    background: #d0d2d7;
    color: #fff;
  }

  .profile-card h3 {
    text-align: center;
    margin-top: 55px;
  }

  .profile-card .btn.btn-primary {
    max-width: 160px;
    width: 100%;
    padding: 15px;
  }

  .business-signup {
    box-shadow: none;
  }

  .business-signup h3 {
    padding: 0 !important;
    font-size: 1.35rem;
  }

  .custom-file-label {
    font-size: .875rem;
  }

  .card.signup-top {
    margin-top: -100px;
  }

  .section.signup-height {
    padding-top: 1rem;
  }

  .life-safety .right-side-section {
    position: absolute;
    left: 45%;
    background: #fff;
    line-height: 1.9;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
    z-index: 1;
    border-radius: 5px;
  }


.life-safety .right-side-section .inner-space {
  padding: 20px 10px;
}


.life-safety img {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.05);
}

.about-card .header i {
  position: relative;
  top: 0;
  left: 0;
}

.about-card .card-body .payment-detail i {
  font-size: 25px;
  display: block;
}

.profile-card .profile-sections i, .profile-card .profile-sections .profile-img-icon {
  font-size: 4.3rem;
    position: absolute;
    top: -60px;
    color: #fff;
    background: linear-gradient(to right, #4d74d6 0%, #4cb5eb 100%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    padding: 25px 20px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    text-align: center;
}

.profile-card .sign-up-butn {
  text-align: center !important;
  margin: 0 0 -20px 2px;
}

.card-body .payment-detail {
  padding: 10px;
}

.card-body .payment-detail h3 {
  padding: 0;
}

.card-body .payment-detail span {
  font-weight: 600;
  font-size: 18px;
}
.card-body .payment-detail span.liColor {
  font-size: 17px;
  color: #32325d;
}
.card-body .payment-detail label {
  font-size: 18px;
  padding: 0 0 0 10px;
}

.card-body .payment-detail .form-check-input {
  margin-top: 0.4rem;
  width: 20px;
  height: 20px;
  background: #cbced6;
}

.signup-top .nav-pills .nav-link.active .hat,.signup-top .nav-pills .nav-link .active-hat {
  display: none;
}

.signup-top .nav-pills .nav-link.active .active-hat {
  display: inline-block;
}

.signup-top .nav-pills .nav-link .hard-hat img {
  max-width: 40px;
}

.mp {
  margin-top: 60px;
}

.visa-cards {
  position: absolute;
  right: 8px;
  padding: 5px 0;
}

.pdt {
  margin: 30px 0;
}

/*CheckOut Page*/
.table-upgrade .col-content.list-content ul {
  padding-left: 0;
}
.table-upgrade  .title {
  padding: 10px 0;
  font-weight: 500;
}
.profile-p .card-body.profile-main-cnt {
  padding: 30px;
}
.form-row.pdt.checkout_payment {
  max-width: 560px;
  display: block;
  margin: 35px auto;
}
.modal {
  padding: 15px !important;
}
.modal-lg-w .modal-dialog{
  max-width: 750px;
}


/*Responsive Design*/
@media (min-width: 1920px) {
  .navbar-brand img {
    max-width: 229px;
  }
  .hero-header .display-3 {
    font-size: 5.4rem;
  }
  .container {
    max-width: 1570px !important;
  }
  #navbar-main .navbar-nav .nav-link {
    font-size: 18px;
  }
}

@media (max-width: 1919px) and (min-width: 768px) {
  .hero-header .display-3 {
    font-size: 62px;
    line-height: normal;
  }
}

@media (max-width: 1991px) {
  .inner-banner {
    margin-top: 60px;
  }
}

@media (max-width: 1680px) {
  .life-safety .right-side-section p {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
  }
  .default-text-style, .section-third-h .list-unstyled p, .list-unstyled p, .about-card p, .testimonials p {
    font-size: 16px;
    line-height: 26px;
  }
  .contactUsPageCls p {
    font-size: 16px;
  }
}

@media (max-width: 1366px) {
  .pricing-table .custom-control.custom-radio, .pricing-table .custom-control.custom-checkbox {
    padding-left: 1.5em;
  }
  .pricing-active .pricing-card .plans-tabs.overflow-scroll .custom-control-label {
    font-size: 16px !important;
  }
}

@media (max-width: 1280px) {
  /* .scene #cardOne-back.proCls {
    height: 740px;
  } */
  .life-safety .right-side-section .lifeCls {
    padding: 20px 15px !important;
  }
  .pricing-active .pricing-card h5 {
    font-size: 22px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
  .navbar-nav .nav-link {
    font-size: .70rem;
  }
  .login-link i {
    padding-left: .7rem;
    border-left: solid 1px #444;
  }
  .section--sub-title {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .section--title {
    font-size: 2.4rem;
  }
  .btn-lg {
    font-size: 1rem;
  }
  .btn-group-lg > .btn {
    font-size: 1rem;
  }
  .description {
    font-size: 1rem;
  }
  .hero-img {
    text-align: center;
  }
  .pb-250 {
    padding-bottom: 6.5rem !important;
  }
}

@media (max-width: 1200px) {
  .signup-top .card-body {
    padding: 20px 0 0;
  }
  .navbar-brand img {
    height: 30px;
  }
  .hero-header .display-3 {
    font-size: 3.4rem;
    line-height: 1.35;
  }
  .hero-header .lead {
    font-size: 1.5rem;
  }
  .section-shaped .shape+.container {
    margin-top: 6rem;
  }
  .card-lift--hover h6 {
    font-size: 1.5rem;
  }
  .result-block-cnt p {
    font-size: 12px;
    margin: 0;
  }
  .search_results h5 {
    font-size: 18px;
  }
  .courses-info {
    font-size: 15px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  /* .scene #cardOne-back .plans-tabs.overflow-scroll, .scene #cardThird-back .plans-tabs.overflow-scroll {
    height: 350px;
  }
  .scene #cardOne-back.proCls .plans-tabs.overflow-scroll {
    height: 425px;
  }
  .scene .pricing_cardOne #cardOne-back {
    height: 655px;
  } */
  .pricing-active .pricing-card li {
    font-size: 20px;
  }
  .pricing-table .grid-item {
    padding: 9px;
  }

  .pricing-table .grid-item strong {
    font-size: 24px;
  }
  .slick-prev {
    left: -25px;
  }
}

@media (min-width: 992px) {
  .scene:nth-child(1) {
    padding-left: 10px !important;
  }
  .scene:nth-child(3) {
    padding-right: 10px !important;
  }
}

@media (max-width: 991px) {
  .life-safety .right-side-section {
    position: relative;
    left: 0;
    box-shadow: none !important;
    margin-top: 0 !important;
  }
  .profile-card .profile-sections p {
    text-align: justify;
  }
  .card.profile-card.height100 {
    height: auto;
    margin-bottom: 115px;
  }
  .divider-height-btm {
    padding-bottom: 100px !important;
  }
  .hero-img {
    margin-bottom: 30px;
  }
  .pricing-active .pricing-card h5 {
    font-size: +20px;
  }
  .scene:nth-child(1) {
    z-index: 11 !important;
  }
  .tab-btn-primary {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
  .tab-btn-primary:nth-child(2) {
    border-radius: 0 30px 30px 0;
  }
  .tab-btn-primary:nth-child(3) {
    border-radius: 30px 0px 0px 30px;
  }
  .result-block-cnt .block-inner-cnt {
    display: block !important;
    text-align: center !important;
  }

  .result-block-cnt .block-inner-cnt img {
    margin: 0 !important;
    width: 100%;
  }

  .result-block-cnt .block-content {
    padding: 15px 10px 0;
  }
  .categories-section .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .member-signup .borderright {
    border-right: 0;
  }
  .inner-banner .inner-banner-content h1 {
    font-size: 2rem;
  }
  .pricing-active .pricing-card .btn-outline-secondary {
    font-size: +21px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  /* .scene {
    height: 680px;
  }
  .scene .pricing_cardOne #cardOne-back {
    height: 650px;
  }
  .scene #cardOne-back.proCls {
    height: 700px;
  } */
  .hero-header .section-shaped {
    padding-top: 6rem;
  }
  .cnt-section {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  .img-section img {
    max-width: 100px;
  }
  .sidebar-cnt-sec h4 strong {
    font-size: 20px;
  }
  .result-block-cnt {
    height: 100%;
  }
  .inner-page-banner .inner-banner-content img {
    max-width: 250px;
  }
  .banner-side-cnt h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .banner-side-cnt p {
    font-size: 15px;
  }
  #course .card-header h5 {
    font-size: 16px;
    font-weight: 600;
  }
  .pro-img img {
    width: 55px;
    height: 55px;
  }
  .pro-cnt {
    padding-left: 10px;
  }

  .pro-cnt p {
    font-size: 12px;
  }
  .video-icon {
    font-size: 16px;
  }
}

@media (max-width: 991px) and (min-width: 480px) {
  .scene {
    height: 680px;
  }
}

@media (max-width: 767px) {
  .add-courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
  }
  .checkout-inner-p .add-courses {
    margin-bottom: 35px;
  }
  .courses-info .text-lg-left {
    width: 100%;
    margin-top: 5px;
  }
  .courses-price-info h3 {
    margin-right: 20px;
  }
  .courses-price-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
  }
  .banner-side-cnt h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }
  .categories-section .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .inner-banner .inner-banner-content h1 {
    font-size: 1.6rem;
  }
  .inner-banner .inner-banner-content h3 {
    font-size: 1.3rem;
  }
  .pricing-table .pricing-card {
    margin: 20px 0;
  }
  .section--title {
    font-size: 2rem;
  }
  .hero-header .section-shaped {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .section-shaped .shape+.container {
    position: relative;
    height: 100%;
    margin-top: 2rem;
    z-index: 2;
  }
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .delete-item {
    position: absolute;
    right: -6px;
    top: -15px;
    background: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
  }
  .pricing-active .pricing-card li {
    font-size: 20px;
  }
  /* .scene {
    height: 710px;
  }
  .scene #cardOne-back {
    height: 680px;
  } */
  
  #navbar-main .navbar-nav .nav-link {
    padding: 7px 10px;
  }
}

@media (max-width: 576px) {
  .table-upgrade .col-content {
    padding: 5px 0;
  }
  .divider-height-btm.member-signup {
    padding-bottom: 70px;
  }
  #inner-sec-banner h1 {
    font-size: 28px;
    font-weight: bold;
  }
  #inner-sec-banner h3 {
    font-size: 16px;
  }
  #inner-sec-banner .form-group {
    max-width: 85%;
    margin: 15px auto 0;
  }
  .tab-btn-primary {
    max-width: 290px;
    width: 100%;
    border-radius: 30px !important;
    text-align: center;
    padding: 12px 15px;
    margin-bottom: 10px;
  } 
  .home-slider .card {
    min-height: 330px;
  }
  .signup-top .default-rounded-btn {
    max-width: 150px;
    padding: 10px;
    font-size: 17px;
  }
  .tab-content .signup-height .card-body {
    padding: 0;
  }
}

@media screen and (max-height: 375px) {
  #navbar-main ul.navbar-nav.navbar-nav-hover {
    max-height: 230px;
    overflow-y: scroll;
  }
}

@media screen and (max-height: 320px) {
  #navbar-main ul.navbar-nav.navbar-nav-hover {
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .pricing-active .pricing-card h5 {
    font-size: 19px;
  }
  /* .scene #cardOne-back .plans-tabs.overflow-scroll{
    height: 365px;
  }
  .scene #cardOne-back.proCls .plans-tabs.overflow-scroll {
    height: 440px;
  } */
  #navbar-main .navbar-nav .nav-link {
    padding: 7px 10px;
  }
  .locater-pointer .user-img {
    display: block;
    margin: 0 auto 10px;
  }
  .scene {
    height: 715px;
  }
}

@media (max-width: 413px) {
  .row.row-grid > [class*='col-'] + [class*='col-'] {
    margin-top: 1.5rem !important;
  }
  .pricing-table .scene .grid-item, .pricing-table .pricing-active .grid-item {
    padding: 12px 8px 10px;
  }
  .hero-header .section-shaped {
    padding-bottom: 7rem;
  }
  .contact-us .btn-wrapper {
    display: block;
    margin: 30px auto;
    text-align: center;
  }
  .divider-height-btm {
    padding-bottom: 70px !important;
  }
  /* .scene {
    height: 700px;
  } */
  .business-signup .signup-frm {
    padding: 0;
  }
  .pricing-table .grid-item strong {
    font-size: 22px;
  }
  /* .scene #cardOne-back {
    height: 610px;
  } */
  .pricing-table .custom-control.custom-radio, .pricing-table .custom-control.custom-checkbox {
    width: 100%;
  }
  .pricing-table .list-content {
    padding: 0;
  }
}






  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
